
@{
    Layout = null;
    var a = 10.5;
    var b = 20;

    ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Welcome</title>
    <body>
        <div>
<h2>Welcome</h2>
        <div>结果：@ViewBag.sum</div>
            <div>@(a+b)</div>
           </div>
        </body>
    </html>
            
